/* @import url("https://fonts.googleapis.com/css2?family=Inter&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@800&display=swap");

@font-face {
  font-family: Matter;
  src: url(./assets/font/matterregular.woff2);
}
/* Base Styles */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --container-width: min(156.6rem, 90%);
  --base-font-size: clamp(2rem, 2.1vw, 2.3rem);
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
}

#svgTop {
  position: fixed;
  inset: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 999999;
  background-image: url("noise.svg");
  background-repeat: repeat;
  background-size: 2px;
  background-blend-mode: overlay;
  pointer-events: none;
}
body {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  font-family: "Matter", sans-serif;
  position: relative;
  /* font-family: "Urbanist", sans-serif; */

  font-size: var(--base-font-size);
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

/* Responsive Typography */
h1,
h2 {
  font-size: clamp(4.8rem, 8vw, 16rem);
  letter-spacing: -0.03em;
  line-height: 1.1;
}

p {
  font-size: clamp(2rem, 2.7vw, 5rem);
  letter-spacing: -0.03em;
  max-width: 66ch;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

[data-hidden] {
  opacity: 0;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* Container */
.container {
  width: var(--container-width);
  margin: 0rem auto;
  padding: 0 2rem;
}

/* Hero Section */
.hero {
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 4rem 0;
  position: relative;
  background-color: white;
}

.hero__title {
  text-align: center;
  z-index: 2;
  mix-blend-mode: difference;
  color: white;
  margin: 2rem 0;
}

.hero__title div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.hero img {
  position: absolute;
  max-width: 90%;
  height: auto;
}

button {
  border: none;
  background-color: black;
  padding: 1.6rem 4.8rem;
  font-size: 2.4rem;
  color: white;
  border-radius: 8px;
  font-family: inherit;
  letter-spacing: -0.01em;
  transition: scale 0.2s;
  -webkit-transition: scale 0.2s;
  -moz-transition: scale 0.2s;
  -ms-transition: scale 0.2s;
  -o-transition: scale 0.2s;
}
button:hover {
  transition: scale 0.3s;
  scale: 1.03;
  -webkit-transition: scale 0.3s;
  -moz-transition: scale 0.3s;
  -ms-transition: scale 0.3s;
  -o-transition: scale 0.3s;
}
button:active {
  transition: scale 0.3s;
  scale: 1.02;
  -webkit-transition: scale 0.3s;
  -moz-transition: scale 0.3s;
  -ms-transition: scale 0.3s;
  -o-transition: scale 0.3s;
}
.text__effect {
  position: relative;
  display: inline-block;
  width: 100%;
}
.text-block {
  margin: clamp(6rem, 10vw, 24rem) 0;
}

/* Fullwidth Image */
.fullwidth-image {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  clip-path: polygon(5% 10%, 95% 10%, 95% 90%, 5% 90%);
}

.fullwidth-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fullwidth-image__text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: white;
  text-align: center;
  padding: 2rem;
  width: 90%;
}

.fullwidth-image h2 {
  font-size: clamp(3.2rem, 6vw, 6.4rem);
}

.fullwidth-image p {
  text-align: center;
  margin: 0 auto;
  font-size: clamp(1.6rem, 2.5vw, 2.4rem);
}

/* Join Us Section */
.join-us {
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: clamp(6rem, 10vw, 24rem) 0;
}

.join-us__text {
  opacity: 0.5;
  font-size: clamp(1.6rem, 2.5vw, 2.4rem);
  margin: 2rem 0;
}

/* Mission Underline */

.mission {
  display: block;
  padding: 1rem;
  margin-bottom: 2rem;
  position: relative;
}
.mission path {
  transition: stroke-dashoffset 0.1s ease-out;
  -webkit-transition: stroke-dashoffset 0.1s ease-out;
  -moz-transition: stroke-dashoffset 0.1s ease-out;
  -ms-transition: stroke-dashoffset 0.1s ease-out;
  -o-transition: stroke-dashoffset 0.1s ease-out;
}

.mission svg {
  position: absolute;
  bottom: -1rem;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
}

button {
  border: none;
  background-color: black;
  padding: 1.6rem 4.8rem;
  font-size: 2.4rem;
  color: white;
  border-radius: 8px;
  font-family: inherit;
  letter-spacing: -0.01em;
}
/* Footer */
.footer {
  display: grid;
  place-items: center;
  background: #030303;
  padding-bottom: 0;
  position: relative;
}

.footer__inner {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  background: #000;
  display: grid;
  place-items: center;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.footer__links {
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.footer__links div {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.footer__links a {
  width: 100%;
  color: white;
  text-decoration: none;
  font-size: clamp(1.8rem, 2.5vw, 2.4rem);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.footer__links a:hover {
  text-decoration: underline;
}
#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #000;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  font-size: 18px;
}

#scrollToTopBtn:hover {
  background-color: #030303c7;
}

/* Media Queries */
@media (max-width: 768px) {
  .hero__title {
    min-width: 10ch;
  }

  @media (min-width: 768px) {
    .hero__title div {
      gap: 2rem;
    }

    .hero img {
      max-width: none;
    }
  }

  @media (min-width: 1024px) {
    .hero__title div {
      flex-wrap: nowrap;
      gap: 4rem;
    }

    .fullwidth-image {
      clip-path: polygon(5% 10%, 95% 10%, 95% 90%, 5% 90%);
    }

    .footer__links {
      flex-direction: row;
      justify-content: center;
      gap: 8rem;
    }
  }
}

@media (orientation: portrait) {
  .hero img {
    max-width: 60%;
  }

  .fullwidth-image {
    clip-path: polygon(0 10%, 100% 10%, 100% 90%, 0 90%);
    object-fit: cover;
    object-position: center;
  }
}

/* Touch Device Adjustments */
@media (hover: none) and (pointer: coarse) {
  .hero {
    min-height: 90vh;
  }

  .footer__links a {
    padding: 1rem;
  }
}
